body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

table {
  border: 1px ridge #b3adad;
  border-collapse: collapse;
  padding: 5px;
}
table th {
  border: 0px;
  padding: 5px;
  color: #313030;
}
table td {
  border: 1px ridge #b3adad;
  text-align: center;
  padding: 5px;
  background: #ffffff;
  color: #313030;
}
